
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<main>
    <ol>
        @{ 
            foreach(Catalog.Product p in Model)
            {
                @p.Name
                @p.UnitPrice
            }
        }
    </ol>
</main>